.main-header{
    text-align: left;
    letter-spacing: 10px;
    font-size: 40px;
    font-family: 'Roboto Condensed', sans-serif;
    color: black;
    font-weight: lighter;
    text-decoration: none;
    margin-left: 20px;
    font-variant: small-caps;
}

.main-header span{
    color: #c60021;
    font-size: 45px;
}

.main-image{
    height: auto;
    width: 400px;
    border: 2px solid black;
    border-radius: 10%;
    margin-top: 10px;
    margin-left: 20px;
}

.recipe-links{
    list-style: none;
}

.recipe-links a{
    text-decoration: none;
    font-family: 'Roboto Condensed', sans-serif;
    display: inline-block;
    color: black;
    font-size: 20px;
    transition: color 250ms, text-decoration 2s ease-in;
}

.recipe-links li{
    position: relative;
    right: 50px;
    float: right;
    bottom: 65px;
    margin-right: 18px;
}

.recipe-links a:hover{
    color: #c60021;
    text-decoration: underline;
}

body{
    background-color: #e3e3e3;
    background-image: url('') ;
}
/* Recipes Section */

.pastor-header, .horchata-header, .lasagna-header{
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: 8px;
    margin-left: 20px;
    text-align: center;
    font-size: 35px;
    font-variant: small-caps;
}

.food-image{
    border-radius: 10%;
    height: auto;
    width: 300px;
    position: relative;
    left: 40%;
    margin:20px, auto;
    border: 2px solid black;
    box-shadow: 5px -5px 13px -4px rgba(135, 135, 135, 0.97);

}

.recipe-title{
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: 2px;
    font-size: 28px;
    text-align: center;
}

.ingredients, .steps{
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: 2px;
    font-size: 25px;
    text-decoration: underline;
    margin: 20px;

}

.ingredient-list, .step-list{
    font-family: 'Roboto Condensed', sans-serif;
    line-height: 1.7;
    font-size: 17px;
    margin: 20px;
}

.step-list li{
    margin-bottom: 10px;
}

p{
    font-family: 'Roboto Condensed', sans-serif;
    word-spacing: 1px;
    letter-spacing: .5px;
    line-height: 1.2;
    margin: 20px;
}

footer{
    padding-bottom: 10px;
    text-align: center;
    border-top:1px solid black;
    padding-top: 15px;
}

footer a{
    text-decoration: none;
    color: #c60021;
    font-family: 'Roboto Condensed', sans-serif;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    font-size: 18px;
    transition: color 500ms;
}

footer a:hover{
    color: black;
    text-decoration: underline;
}