.main-header{
    text-align: left;
    letter-spacing: 10px;
    font-size: 40px;
    font-family: 'Roboto Condensed', sans-serif;
    color: black;
    font-weight: lighter;
}

.main-header span{
    color: #c60021;
    font-size: 45px;
}

.main-image{
    height: auto;
    width: 400px;
    border: 3px solid black;
    border-radius: 10%;
    float: right;
}

.recipe-links{
    list-style: none;
}

.recipe-links a{
    text-decoration: none;
    font-family: 'Roboto Condensed', sans-serif;
    display: inline-block;
    color: black;
    font-size: 20px;

}

.recipe-links li{
    display: inline-block;
    position: relative;
    right: 50px;
    float: right;
    bottom: 65px;
    margin-right: 18px;
}

.recipe-links a:hover{
    color: #c60021
}

body{
    background-color: #e3e3e3;
}